:root{
  --main-color: #f4722b;
  --secondary-color: #ff9f6b;
  --accent-color: #f5e5c1;

  --border: 7px solid var(--accent-color);
  --text-color: rgb(255, 255, 255);
  --text-color: #191919;
  color: var(--text-color)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: var(--main-color);
}

main{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.cards-container{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr) ;
  gap: 20px;
  width: 80vw;
  height: 80vh;

  margin: 20px;
}

.card{
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 5px;
  border: var(--border);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card-image{
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-bottom: 10px;
  border-bottom: var(--border);
}

.card > h2{
  margin: 5px;
}

.modal-bg{
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #282c34a4;
}

.modal{
  width: 500px;
  height: 300px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  border: var(--border);
  border-radius: 25px;
  font-weight: bold;
}

.modal > h2{
  font-size: 2rem;
}

.modal > button{
  width: 40%;
  height: 20%;
  background-color: var(--accent-color);
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

.modal > button:active{
  box-shadow: inset 0 0 4px 0 rgb(31, 31, 31);
}

.box {
  position: relative;
}

.box select {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  cursor: pointer;
}

.box::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);

}

.box select option {
  padding: 30px;
}
